body{
   background:  linear-gradient(to right, #8e9eab, #eef2f3);
   font-family: 'Edu SA Beginner', cursive;
}
.container{
    margin: 0 auto;
    width: 600px;
    margin-top: 15%;
    text-align: center;
}
.pass{
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 20px;
}
.btns{
    width: 100%;
    margin-top: 1%;
    border-radius: 20px;

}
.bt2{
    margin-top: 1%;
    border-radius: 20px;
    text-align: center;
}